<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <display-name>GlobalTradeWebModule</display-name>

    <security-role>
        <role-name>ADMIN</role-name>
    </security-role>
    <security-role>
        <role-name>CUSTOMER</role-name>
    </security-role>
    <security-role>
        <role-name>VENDOR</role-name>
    </security-role>
    <security-role>
        <role-name>WAREHOUSE_MANAGER</role-name>
    </security-role>
    <security-role>
        <role-name>LOGISTICS_OFFICER</role-name>
    </security-role>
    <security-role>
        <role-name>CUSTOMS_OFFICER</role-name>
    </security-role>
    <security-role>
        <role-name>FINANCE_OFFICER</role-name>
    </security-role>
    <security-role>
        <role-name>SYSTEM_ADMIN</role-name>
    </security-role>
    <security-role>
        <role-name>VENDOR_REP</role-name>
    </security-role>
    <security-role>
        <role-name>LOGISTICS_COORDINATOR</role-name>
    </security-role>
    <security-role>
        <role-name>CUSTOMS_AGENT</role-name>
    </security-role>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
